@use '../../styles/Partials/variable' as *;

.games-page {
    &__game-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}